body { 
	margin: 0;
	padding: 0; 
	background-color: #464a59 
}

option, label {
	color: #f2f2f2;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
}

#layer {
/*	background-color: #1E90FF;
	color: #f2f2f2;*/
	font-family: "Trebuchet MS", Helvetica, sans-serif;
}

.color1 {
	background-color: rgba(199, 70, 68, 255);
}
.color2 {
	background-color: rgba(156, 64, 106, 255);
}
.color3 {
	background-color: rgba(107, 120, 78, 255);
}
.color4 {
	background-color: rgba(208, 183, 113, 255);
}
.color5 {
	background-color: rgba(138, 119, 190, 255);
}
.color6 {
	background-color: rgba(91, 167, 98, 255);
}
.color7 {
	background-color: rgba(198, 112, 25, 255);
}
.color8 {
	background-color: rgba(125, 167, 189, 255);
}
.color9 {
	background-color: rgba(83, 133, 67, 255);
}
.color10 {
	background-color: rgba(189, 103, 39, 255);
}
.color11 {
	background-color: rgba(187, 180, 85, 255);
}
.color12 {
	background-color: rgba(180, 73, 71, 255);
}

#map { 
	position: absolute; 
	top: 0; 
	bottom: 0;
	width: 100%;
}

.map-overlay {
    font: 16px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
    position: absolute;
    width: 200px;
    top: 0;
    left: 0;
    opacity: 0.4;
    transition: opacity 0.2s;
  	-webkit-transition: opacity 0.2s;
    padding: 10px;
}

.map-overlay:hover {
    font: 16px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
    position: absolute;
    width: 200px;
    top: 0;
    left: 0;
    opacity: 1;
    transition: opacity 0.2s;
  	-webkit-transition: opacity 0.2s;
    padding: 10px;
}

.map-overlay .map-overlay-inner {
    background-color: #1E90FF;
    box-shadow:0 1px 2px rgba(0, 0, 0, 0.10);
    border-radius: 3px;
    padding: 10px;
    margin-bottom: 10px;
}

.map-overlay-inner fieldset {
    border: none;
    padding: 0;
    margin: 0 0 10px;
}

.map-overlay-inner fieldset:last-child {
    margin: 0;
}

.map-overlay-inner select {
    width: 100%;
}

.map-overlay-inner label {
    display: block;
    font-weight: bold;
    margin: 0 0 5px;
}

.map-overlay-inner button {
    display: inline-block;
    width: 36px;
    height: 20px;
    border: none;
    cursor: pointer;
}

.map-overlay-inner button:focus {
    outline: none;
}

.map-overlay-inner button:hover {
    box-shadow:inset 0 0 0 3px rgba(0, 0, 0, 0.10);
}